*.exe
*.out
*.o
*.so
*.a
*.dll
*.log
*.tmp
*.swp

bin/
vendor/
*.test
*.coverprofile

.idea/
.vscode/
*.DS_Store
*.env

grpc-go/pkg/proto/*.pb.go
grpc-go/pkg/proto/*.pb.gw.go
grpc-go/pkg/proto/*.swagger.json

go.sum
